<% content_for :primary_content do %>
    <!-- Loop through the _submission partial and inject the submission
    like a each do block would do it -->
    <% if @submissions.exists? %>
      <%= render @submissions %>
    <% else %>
      <div class="p-10 text-center">
        <%= image_tag "wow.png", class: "h-48 mx-auto mb-6" %>
        <p class="mb-4 font-black">Wow such empty...</p>
        <% link_to "Create a new submission", new_submission_path, class: "btn btn-purple btn-small" %>
      </div>
    <% end %>
<% end %>

<% content_for :secondary_content do %>
  <%= link_to 'New Submission', new_submission_path %>
<% end %>

<%= render "basic_layout" %>